.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #f4752d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  display: flex;
  min-width: 360px;
  align-items: center;
  justify-content: space-between;
  margin: 56px 0;
}

.oishi {
  font-size: 2rem;
}

.🍤 {
  font-size: 6rem;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .🍤 {
    animation: rotate infinite 20s linear;
  }
}

.App-link-list {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-img {
  width: 50px;
  height: 50px;
}

.App-link {
  color: white;
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
