.App {
  text-align: center;
  cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="64" width="64"><text y="16" font-size="16"> 🦐 </text><path d="M0,2 L0,0 L2,0" fill="red" /></svg>'), auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-body {
  position: relative;
  background-color: #f4752d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-body:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="64" width="64"><text y="28" font-size="16"> 🦐 </text></svg>');
  z-index: 0;
}

.App-section {
  display: flex;
  min-width: 360px;
  align-items: center;
  justify-content: space-between;
  margin: 56px 0;
}

.oishi {
  font-size: 2rem;
}

.🦐 {
  font-size: 6rem;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .🦐 {
    animation: rotate infinite 20s linear;
  }
}

.App-link-list {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.App-img {
  width: 50px;
  height: 50px;
}

.App-link {
  display: flex;
  color: white;
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
